<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html-css-boolzapp</title>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <div class="container">
                <!-- avatar -->
                <div class="container-avatar">
                    <!-- header-avatar -->
                    <header class="header-avatar">
                        <div class="avatar">
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <div class="action">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </header>
        
                    <!-- call to action -->
                    <div class="call-to-act">
                        <div class="notification">
                            <div class="bell">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="notification-txt">
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <a href="">Attiva le notifiche desktop</a>
                            </div>    
                        </div>
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="search" name="" id="" placeholder="Cerca o inizia una nuova chat"> 
                        </div>
        
                    </div>
                    <!-- list -->
                    <ul>
                        <!-- <li>
                            <div class="avatar">
                                <img src="img/avatar_1.jpg" alt="">
                            </div>
                            <div class="name">
                                <h4>Michelehjg</h4>
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                            <div class="hours">16.15</div>
                        </li> -->
                        
                        <li v-for="contact in contacts" @click="setActiveContact(contact)">
                            <div class="avatar">
                                <img :src=contact.avatar>
                            </div>
                            <div class="name">
                                <h4>{{ contact.name }} </h4>
                            </div>
                            <div class="hours"></div>    
                        </li>
                            
                        
                        
                    </ul>
                    
                </div>
                <!-- /avatar -->
    
                <!------------------------------------->
               
                <!-- chat -->
                <div class="container-chat">   
                    <!-- header -->
                    <header class="header-chat">
                        <div class="avatar">
                            <img :src="activeContact.avatar" alt="">
                        </div>
                        <div class="name">
                            <h4>{{ activeContact.name }}</h4>
                        </div>
                        <div class="action">
                            <i class="fa-solid fa-magnifying-glass"></i>  
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>    
                        </div>
                        
                    </header>                
        
                    <!-- message box -->
                    <div class="message-box">
                        <!-- <div class="send">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corrupti ab debitis dicta dolorum ipsa magni doloribus aperiam aspernatur magnam repellat nemo, facere aut iusto repellendus dignissimos placeat esse. Exercitationem.</p>
                            <div class="opt">
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="opt-chat">
                                    <div>Info messaggio</div>
                                    <div>Cancella messaggio</div>
                                </div> 
                            </div>     
                        </div> -->
                        <div v-if="activeContact">                            
                            <div v-for="message in activeContact.messages" >
                                <p v-if="message.status === 'received'" class="recived">{{ message.message }}</p>
                                <p v-else class="send">{{ message.message }}</p>
                            </div>
                        </div>

                        <!-- <div class="recived">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corrupti ab debitis dicta dolorum ipsa magni doloribus aperiam aspernatur magnam repellat nemo, facere aut iusto repellendus dignissimos placeat esse. Exercitationem.</p>
                            <div class="opt">
                                <i class="fa-solid fa-chevron-down"></i>
                                <div class="opt-chat">
                                    <div>Info messaggio</div>
                                    <div>Cancella messaggio</div>
                                </div> 
                            </div>   
                        </div> -->
                    </div>
        
                    <!-- write-box -->
                    <div class="write-box">
                        <div class="emoticon">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="imput-message">
                            <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage">
                        </div>
                        <div class="rec">
                            <i class="fa-solid fa-microphone"></i>                        
                        </div>
                    </div>
    
    
                </div> 
        
                <!-- /chat -->
            </div>
        </div>
    </div>
    <!-- script -->
    <script src="js/script.js"></script>
</body>
</html>